{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <div class="media">

        <div class="media-body">
            <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
            <p class="text-secondary">Twoja liczba punktów: {{ user.profile.points }}</p>
<div>
            <form method="POST">
                {% csrf_token %}
            <input type="submit" class="btn" value="+10 pkt" name="mybtn"/>
                </form>
</div>


            <p class="text-secondary"> Twoja populacja: {{ user.profile.people }}</p>
        </div>
      </div>
      <!-- FORM HERE -->
    </div>
{% endblock content %}